body {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: $text-main;
  background-color: #F6F6F6;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  &__img {
    max-width: 150px;
    max-height: 37px;
    object-fit: cover;
  }
}

.btn {
  @extend %btn;
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.43;
  text-transform: capitalize;
  color: $secondary;
  margin-bottom: 20px;
}

@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  // Fallback for non-Webkit browsers
  // (won't show `…` at the end of the block)
  @if $line-height {
      max-height: $line-height * $lines * 1px;
  }
}


.intro-text{
  max-width: 555px;
  margin: 0 auto;
  @include text-clamp(3);
}