.clients {
  &__wrapper {
    padding: 55px 0 0;

    @include r(768) {
      padding: 25px 0 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 20%;
  }

  .swiper-slide-prev,
  .swiper-slide-active,
  .swiper-slide-next {
    width: 100px;
  }
}