.customers {
  padding-bottom: 100px;

  & .swiper-wrapper {
    height: 275px;
  }


  &__inner {
    padding: 80px 0 80px;
  }

  &__content {
    margin-bottom: 60px;
    text-align: center;
  }

  &__title {
    max-width: 448px;
    margin: 0 auto 20px;
  }

  &__text {
    max-width: 555px;
    margin: 0 auto;
    @include text-clamp(3);
  }



  .swiper-wrapper {
    padding: 0 0 75px;
  }

  .swiper-container {
    margin-left: calc((100vw - 1140px) / 2);
  }

  .swiper-slide-active {
    border: 2px solid $accent;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 89%;
    background-color: $accent;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    outline: transparent;
  }
  .swiper-button-prev,
  .swiper-button-next  {
    &:hover{
      background-color: #d60121;
    }
    &:active{
      background-color: #f70126;
    }
    &:focus{
      border: 2px solid #a2051c;

    }
  }

  .swiper-button-prev {
    right: 230px;
    left: auto;
  }

  .swiper-button-next {
    right: 150px;
    left: auto;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-disabled {
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-button-next {
    background-image: url(../../images/icons/next-arrow.svg);
  }

  .swiper-button-prev {
    background-image: url(../../images/icons/prev-arrow.svg);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    background-color: #fff;
    opacity: 1;
    border: 2px solid $accent;
  }

  .swiper-button-prev.swiper-button-disabled {
    background-image: url(../../images/icons/prev-arrow--disable.svg);

  }

  .swiper-button-next.swiper-button-disabled {
    background-image: url(../../images/icons/next-arrow--disable.svg);

  }


  .swiper-pagination {
    text-align: left;
    width: 50%;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #8d9196;
    outline: none;

    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
    &:hover{
      background-color:#2982e7;
    }
    &:active{
      background-color:#0026fc;
    }
    
  }

  .swiper-pagination-bullet-active {
    width: 45px;
    height: 15px;
    border-radius: 10px;
    background-color: $accent;
    &:hover{
      background-color:#F53838;
    }
    &:active{
      background-color:#F53838;
    }
  }




}




.card {
  border-radius: 10px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  padding: 30px;
  width: 400px;
  height: 230px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -87px;
    bottom: -70px;
    left: 168px;
    background: #0D1025;
    opacity: 0.06;
    filter: blur(114px);
    border-radius: 10px;
  }

  &__heading {
    display: flex;
    margin-bottom: 8px;
  }

  &__avatar img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 21px;
    object-fit: cover;
  }

  &__content {
    @include text-clamp(4);
  }

  .rating {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
  }

  &__region {
    font-size: 14px;
    line-height: 1.1;
  }

  &.swiper-slide {
    box-sizing: border-box;
    width: 400px !important;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}