.footer {
  position: relative;
  background-color: #F8F8F8;
  padding: 180px 0 100px;

  &__block {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 59px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      right: 31px;
      bottom: -33px;
      left: 31px;
      background-color: #0D1025;
      opacity: 0.06;
      filter: blur(114px);
      border-radius: 10px;
      z-index: -1;
    }
  }

  &__text {
    @include text-clamp(2);
  }

  &__content {
    max-width: 371px;
  }

  &__btn {
    padding: 17px 65px;
    position: relative;
    outline: transparent;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      background-color: rgba(245, 56, 56, 0.35);
      filter: blur(54px);
      border-radius: 10px;

    }
  }

  &__copy {
    font-weight: 500;
  }

  &__proposals {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__promo {
    max-width: 340px;
    color: #4F5665;
    font-weight: 500;
    margin-bottom: 30px;
    @include text-clamp(3);
  }



  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(#0B132A, #0B132A);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    outline: transparent;

    &:hover {
      color: $accent;
    }

    &:active {
      color: #ca0623;
    }

    &:focus {
      background-size: 100% 2px;

    }
  }
}

.social {
  display: flex;
  margin-bottom: 30px;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
    outline:none;

    &:hover {
      background-color: rgb(189, 150, 150);
    }
    &:active,
    &:focus{
      border: 2px solid rgb(240, 55, 55);
      background-color: #fff;
    }
    
  }

  &__img {
    background-size: 100%;
  }
}