.header {
  position: sticky;
  top: -10px;
  z-index: 1000;
  background: $bg;

  &__inner {
    padding: 45px 0 28px;
    margin-bottom: 60px;
  }

  &__nav {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 40px;
  }



  &__connect {
    display: flex;
  }

  &__connect-btn {
    font-weight: 600;
    line-height: 1.2;
    padding: 13px 45px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all 0.3s;
    &:hover{
      color: $accent;
    }
    &:active {
      color: #b6001b;
    }

    &:focus {
      color: #b6001b; 
    }
    &--active {
      border: 1px solid $accent;
      color: $accent;
    }
  }

}



.menu {
  display: flex;
  justify-content: space-around;

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    transition: color 0.3s;
    outline: transparent;

    &:hover {
      color: $accent;
    }

    &:active {
      color: #b6001b;
    }

    &:focus {
      border-bottom: 1px solid #b6001b; 
    }
  }
}

.hero-section {
  &__inner {
    padding: 28px 0 103px;
    position: relative;
    max-width: 1208px;
    margin-left: calc((100vw - 1140px)/2);
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__content {
    max-width: 555px;
  }

  &__title {
    text-transform: none;
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 20px;

    span {
      font-weight: 700;
    }
  }

  &__content-text {
    font-weight: 500;
    margin-bottom: 50px;
    @include text-clamp(3);
  }


}