.header {
  position: sticky;
  top: -10px;
  z-index: 1000;
  background: $bg;

  &__inner {
    padding: 45px 0 28px;
    margin-bottom: 60px;
  }

  &__nav {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    margin-right: 40px;
  }

  &__connect {
    display: flex;

    @include r(992) {
      display: none;
    }

    &--show {
      display: flex;
      width: 100%;
      order: 3;
      justify-content: center;
    }


  }

  &__connect-btn {
    font-weight: 600;
    line-height: 1.2;
    padding: 13px 45px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all 0.3s;


    &:hover {
      color: $accent;
    }

    &:active {
      color: #b6001b;
    }

    &:focus {
      color: #b6001b;
    }

  }

}

.menu-btn {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../../images/icons/menu-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  outline: none;
  display: none;


  @include r(992) {
    display: flex;
    order: 1;
  }

}

.menu {
  display: flex;
  justify-content: space-around;

  @include r(992) {
    display: none;
    width: 100%;
  }

  &--column {
    flex-direction: column;
    display: flex;
    order: 2;

    .menu__item {
      display: block;
      text-align: center;

      &:not(:last-child) {
        margin: 0 0 5px 0;
      }
    }
  }


  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    transition: color 0.3s;
    outline: transparent;

    &:hover {
      color: $accent;
    }

    &:active {
      color: #b6001b;
    }

    &:focus {
      border-bottom: 1px solid #b6001b;
    }
  }

}

.hero-section {
  &__inner {
    padding: 28px 10px 103px;
    max-width: 1228px;
    margin-left: calc((100vw - 1140px)/2);
    background-repeat: no-repeat;
    background-position: right top;

    @include r(1200) {
      margin-left: auto;
    }

    @include r(992) {
      background-size: cover;
    }
  }

  &__content {
    max-width: 555px;
  }

  &__title {
    text-transform: none;
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 20px;

    span {
      font-weight: 700;
    }
  }

  &__content-text {
    font-weight: 500;
    margin-bottom: 50px;
    @include text-clamp(3);
  }


}